{% extends "base.html" %}

{% block content %}

    <h1 style="margin-bottom:50px">Issue Prescription</h1>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.type.label }}<br>
            {{ form.type }}<br>
            {% for error in form.type.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.doctor_name.label }}<br>
            {{ form.doctor_name(size=32) }}<br>
            {% for error in form.doctor_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.patient_name.label }}<br>
            {{ form.patient_name(size=32) }}<br>
            {% for error in form.patient_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.quantity.label }}<br>
            {{ form.quantity }}<br>
            {% for error in form.quantity.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.dosage.label }}<br>
            {{ form.dosage }}<br>
            {% for error in form.dosage.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

    <a href="{{ url_for('prescription') }}">Back to Prescription List</a>

{% endblock %}